@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.hero-container {
  background-color: #002576;
  min-height: 85vh; 
  width: 100%;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;  /* Align content vertically to the top */
  align-items: flex-end;        /* Align content horizontally to the right */
  padding-right: 2rem;
  overflow-x: hidden;
}

.hero-container > h1 {
    color: #fff;
    font-size: 10vh;
    margin-top: 6%;
    margin-left: 5vh;
    margin-bottom: 2%;
    animation: fadeIn 5s;
 
  }

.hero-btns {
    margin-top: 10vh;
    margin-left: 5vh;   
    animation: fadeIn 6s;
}


.hero-btns .btn {
    margin: 6px;
}

.faPlayCircle {
    margin-left: 2px;
}

.popup-form {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-form-content {
  position: absolute;
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 90%; 
  max-width: 400px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #333; 
}

.close-icon:hover {
  color: red; 
}

.popup-form form {
  display: flex;
  flex-direction: column;
}

.popup-form label {
  margin-bottom: 5px;
  margin-top: 5px;
}

.popup-form input {
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.popup-form button {
  padding: 10px;
  background-color: #002576;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup-form button:hover {
  background-color: #103da0;
}

.close-btn {
  background-color: red;
  color: white;
  padding: 5px;
  border: none;
  cursor: pointer;
}

.close-btn:hover {
  background-color: darkred;
}


@media screen and (max-width: 960px) {

  .hero-container {
    min-height: 50vh; /* Reduce Hero Section height further on smaller screens */
  }

  .hero-container > h1 {
    font-size: 40px;
    margin-top: 50px;
  }
}
  
  @media screen and (max-width: 768px) {
    .hero-container > h1 {
      font-size: 40px;
      margin-top: 50px;
    }
    
  
    .hero-container > p {
      font-size: 25px;
    }

    .hero-btns {
      width: 60%; /* Full width on small screens */
      display: flex;
      flex-direction: column;
      align-items: right;
  }
  
  .hero-btns .btn {
      margin: 10px 0; /* Space between buttons */
  }
  
  
    .btn-mobile {
      display: block;
      text-decoration: none;
    }
  

    .popup-form-content {
      width: 100%; 
      padding: 15px; 
      max-width: 90%; 
    }

    .popup-form input {
      font-size: 14px;
      padding: 8px; 
    }

    .popup-form button {
      font-size: 14px; 
      padding: 8px; 
    }

    .close-icon {
      font-size: 22px; 
      top: 8px; 
      right: 8px;
    }
  }