.intro-container {
  background-color: #ddc2a7;
  min-height: 85vh; 
  width: 100%;
  display: flex;
  flex-direction: row;
  font-family: Arial, sans-serif;
  overflow: hidden;
  position: relative;
}

.intro-container .text-container {
  margin-top: 3%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.intro-container .text-container > h1 {
  color: #fff;
  font-size: 10vh;
  margin-left: 5vh;
  margin-bottom: 2%;
}

.intro-container .text-container > p {
  font-size : 4vh;
  margin-left: 5vh;
  color: #002576;
}

.intro-container .image-container {
  display: flex;
  align-items: center;
  margin-left: 10%;
}

.intro-container .image-container .intro-image {
  height: 80%;
}

@media screen and (max-width: 960px) {

  .presentation-container {
    
    min-height: 50vh; 
  }

  .presentation-container > h1 {
    font-size: 40px;
    margin-top: 50px;
  }
}
  
  @media screen and (max-width: 768px) {
    .presentation-container > h1 {
      font-size: 40px;
      margin-top: 50px;
    }
    
  
    .presentation-container > p {
      font-size: 25px;
    }

  }