.presentation-container { 
    background-color: white;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}


.presentation-container > div {
    flex-grow: 1;   /* Allow the child divs to grow and fill space equally */
    display: flex; 
    align-items: center;
    justify-content: center;  
    border: solid grey 1px;
    padding: 0; 
    background-size: 100% 100%;  /* Stretch image to fill the div */
    background-position: center;  /* Center the background image */
    background-repeat: no-repeat;  /* Prevent repeating of background */
}

.presentation-container > div > h1 {
    background-color:#e1b07f;
    color: white;
}

.summer {
    background-image: url('../../public/images/summer.jpg'); /* Path to your summer image */
}

.winter {
    background-image: url('../../public/images/winter.png'); /* Path to your winter image */
}